################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/graph.network.core/obj
/graph.network.core.tests/obj
/graph.network.core/bin
/graph.network.core.tests/bin
